.Form1{
    /* display: flex;
    justify-content: center; */
    width: 100%;
}
.Form1 form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
    .Form1 form input[type="text"],
    .Form1 form input[type="email"],
    .Form1 form input[type="number"]{
        margin: 10px;
        padding: 12px 10px 10px 10px;
        flex:2;
        border: 5px solid #141414;
        background-color: black;
        border-radius: 20px;
        outline: none;
        color: #e5e5e5;
        font-size: 20px;
    }
    input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

    .Form1 form input[type="submit"]{
        margin: 10px 20px;
        padding: 0px 30px;
        height: 40px;
        border-radius: 10px;
        background-color: #141414;
        border: none;
        color: #e5e5e5;
        cursor: pointer;
        transition: color 0.2s linear;
        box-shadow: 0 0 5px red;
    }

.Form1 .users{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.Form1 .users .oneUser{
    width: 100%;
    text-align: center;
    border-top: 5px solid #141414;
    padding: 20px 0;
}