.ISS{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ISS h2{
    font-size: 30px;
    padding: 10px;
}
.ISS p{
    border-bottom: 3px solid rgb(255, 247, 9) ;
    padding-bottom: 5px;
}
.ISS a{
    text-decoration: none;
    box-shadow: 0 0 5px rgb(255, 247, 9); 
    border-radius: 20px;
    padding: 6px 50px 5px 50px;
    margin-bottom: 20px;
    color: aliceblue;
    cursor: pointer;
    transition: box-shadow 0.3s linear;
}
.ISS a:hover{
    box-shadow: 0 0 20px rgb(255, 247, 9);
}