.footer{
    position: relative;
    bottom: 0px;
    height: 40px;
    width: 100%;

    color: rgb(76, 76, 76);
    font-size: 15px;
    background-color: #141414;

    display: flex;
    justify-content: center;
    align-items: center;
}