.netflix{
    color: red;
    margin: 10px 10px;
    text-align: center;
    text-shadow: 0 0 20px black;
    background-color: rgb(15, 15, 15);
    width: 100%;
    border-top: 5px solid #141414;
}
.netflix .vyhledavac form input{
    margin: 20px 0;
    width: 40%;
    padding: 6px 15px 5px 15px;
    outline: none;
    border: 5px solid #141414;
    background-color: black;
    border-radius: 20px;
    color: #e5e5e5;
    font-size: 20px;
}

.kategorie-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 5px solid #141414;
}
.kategorie-btns button {
    margin: 5px;
    padding: 5px 10px;
    width: 100px;
    padding: 7px 10px 5px 10px;
    border-radius: 10px;
    background-color: #141414;
    border: none;
    background: black;
    color: #e5e5e5;
    cursor: pointer;
    transition: color 0.2s linear;
    box-shadow: 0 0 5px red;
}
.kategorie-btns button:hover{
    color: red;
}

.allMovies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.oneMovie{
    position: relative;
    width: 300px;
    height: 440px;
    margin: 10px 10px;
    background-color: black;
    color: rgb(244, 242, 242);
    box-shadow: 0 0 20px black;
    cursor: pointer;
    /* pro hover plunulý přechod */
    transition: all 0.2s linear;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.oneMovie:hover{
    transform: scale(1.04);
}
.oneMovie h2,
.oneMovie p{
    padding: 0 10px;
    color: #e5e5e5;
    
}
.oneMovie img{
    display: block;
    width: 100%;
    height: 160px;
}
.oneMovie p{
    font-size: 16px;
}
.posledniP{
    margin-bottom: 10px;
}
.oneMovie button{
    display: block;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #141414;
    border: none;
    color: #e5e5e5;
    cursor: pointer;
    transition: color 0.2s linear;
    box-shadow: 0 0 5px red;
}
    .oneMovie button:hover{
        color: red;
    }
    
.BtnAll{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 30px 0;
    border-top: 5px solid #141414;
}
.BtnAll button{
    width: 200px;
    padding: 7px 10px 5px 10px;
    border-radius: 10px;
    background-color: black;
    border: none;
    color: #e5e5e5;
    cursor: pointer;
    transition: color 0.2s linear;
    box-shadow: 0 0 5px red;
    margin-top: 30px;
    margin-left: 10px;
    
}
    .BtnAll button:hover{
        color: red;
    }
.questions{
    position: relative;
    border-top: 5px solid #141414;
    width: 100%;
    padding: 0 10px;
}

    .questions button{
        width: 200px;
        padding: 7px 10px 5px 10px;
        border-radius: 10px;
        background-color: black;
        border: none;
        color: #e5e5e5;
        cursor: pointer;
        transition: color 0.2s linear;
        box-shadow: 0 0 5px red;
        margin: 20px 10px 10px 10px;
        
    }
        .questions button:hover{
            color: red;
        }
@media(max-width:700px){
    .netflix .vyhledavac form input{
        width: 95%;
    }
}