.Domu{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
}

@media(max-width:1100px){
  .Domu{
      flex-direction: column;
      justify-content: flex-start;
  }
}