.projekty{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.projekty .vsechny-projekty{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projekty .container-jazyk{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}
.projekty .container-jazyk .projekty-react{
    width: 100%;
    display: flex;
    position: relative;
}
        .projektyReact-radek{
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap
        }
        .projektyReact-sloupec{
            flex-direction: column;
            align-items: center;
        }
    .projekty .container-jazyk h1{
        text-align: right;
        position: absolute;
        left: 0%;
        top: 30px;
        font-size: 35px;
        padding: 5px 15px 5px 15px;
        background-color: rgb(255, 247, 9);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        text-shadow: 0 0 35px rgb(46, 46, 46);
        color: #141414;
        width: 45%;
    }

.projekty .jeden-projekt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: 5px solid #141414;
    border-radius: 30px;
    transition: box-shadow linear 0.3s;
    position: relative;
}
    
    .jedenprojekt-small{
        width: 30%;
    }
    .jedenprojekt-big{
        width: 95%;
        position: absolute;
        z-index: 1;
    }

        .projekty .jeden-projekt:hover{
            box-shadow: 0 0 20px rgb(255, 247, 9);
        }

    .projekty .jeden-projekt a{
        text-decoration: none;
        color: rgb(255, 247, 9);
    }
    .projekty .jeden-projekt img{
        width: 100%;
        margin-bottom: 10px;
        border-top-left-radius: 23px;
        border-top-right-radius: 23px;
        border-bottom: 5px solid #141414;
    }
    .projekty .jeden-projekt h3{
        text-align: center;
        color:rgb(255, 247, 9);
        padding: 10px;
        padding-left: 10px;
        font-size: 30px;
        margin-top: 15px;  
    }
    .projekty .jeden-projekt .btn-jedenProjekt{
        padding: 7px 10px 5px 10px;
        border-radius: 10px;
        background-color: black;
        border: none;
        color: #e5e5e5;
        cursor: pointer;
        box-shadow: 0 0 5px rgb(255, 247, 9);
        transition: background-color 0.2s linear;
        font-size: 30px;
        margin: 15px;
    }
        .projekty .jeden-projekt .btn-jedenProjekt:hover{
            background-color: #141414;
        }

 /* Odkazové projekty + starý web */
    .projekty .staryweb,
    .projekty .odkazoveProjekty{
        width: 60%;
    }
    .projekty .jeden-projekt strong{
        font-weight: normal;
        margin-bottom: 15px;
        text-align: center;
    }

@media (max-width: 700px){
    .projekty{
        width: 100%;
    }
    .projekty .jeden-projekt{
        width: 90%;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    .projekty .container-jazyk{
        padding-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projekty .container-jazyk h1{
        width: 100%;
        text-align: center;
    }
}