.NetflixBox h2{
    margin-top: 10px;
    font-size: 22px;
}
.NetflixBox .toggleNetflix{
    margin: 20px 0 5px 0;
    padding: 10px 20px;
    background-color: rgb(15, 15, 15);
    border: 5px solid #141414;
    border-radius: 20px ;
    font-size: 20px;
    transition: all 0.3s linear;
}
.NetflixBox .toggleNetflix:hover{
    box-shadow: 0 0 20px rgb(255, 247, 9);
    padding: 10px 30px;
}
